<template>
  <div>
    <j-title-header :options="options"/>
    <j-loading-table/>
  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';

export default {
  name: 'JHome',
  components: {
    jLoadingTable,
  },
  data() {
    return {
      options: {
        icon: 'fa-user',
        main_title: 'MY HOME',
        opt_title: 'Administrator',
      },
    };
  },
};
</script>
